* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.dropdown {
  position: relative;
  width: 400px;
}

.dropdown.open .dropdown__menu {
  display: block;
}

.dropdown__label {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid black;
  width: 100%;
  cursor: pointer;
}

.dropdown__menu {
  position: absolute;
  top: 29px;
  width: 100%;
  list-style: none;
  display: none;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px 0 10px;
}

.dropdown__menu li {
  padding: 5px 10px;
  cursor: pointer;
}

.dropdown__menu li:hover {
  background: rgba(0, 0, 0, .2);
}